
  button: {
      marginTop: 15,
      width: '100%',
      maxWidth: 250,
      marginBottom: 10,
      display: 'flex',
      justifyContent: 'flex-start',
      alignItems: 'center',
      padding: '0px 16px',
      borderRadius: 2,
      boxShadow: '0px 1px 3px rgba(0, 0, 0, .3)',
      cursor: 'pointer',
      outline: 'none',
      border: 'none',
      minHeight: 40
  }

  .text {
      color: 'white',
      fontSize: 14,
      marginLeft: 10,
      fontWeight: 'bold'
  }

  signOut: {
      backgroundColor: 'black'
  }

  body{
      padding: '0px 30px',
      height: '78vh',
      backgroundColor: '#464646'
  }