body {
  background-color: #464646;  
 
}


.registerForm{
  border-radius: 25px !important;
  background-color: black!important;
}

.modalWrap{
  border-radius: 20px!important;
  background-color: black;

}

.modalNav{
  background-color: rgb(212, 41, 41);
  color: white;
  font-size: 17px;
  font-family: 'Montserrat';
  text-align: center;
 margin-top: 2px;
  letter-spacing: 0.5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
 
}

.modalStyle{ 
  font-size: 14px;
  margin-bottom: 0;
  
}

input{
  border-radius: 12px;
  border-style: none;
  background-color: #dddddd;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  width: 270px;
  font-family: 'Montserrat';

}

input:hover {
  border: 1px solid silver;
}

.motivesLabel{
  font-family: 'Montserrat';
}

label{
 
  display: inline-block;
  width: 80px;
  text-align: left;
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 600;

}



textarea{
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
background-color: #dddddd;  
border-radius: 12px;
width: 350px;
border: none;

}



select{
  font-size: 14px !important;
  border-radius: 14px !important;
  letter-spacing: 0.5px;
  
  
}
select:hover{
  background-color: #dddddd;  
  border: 1px solid silver !important;
}

.submitBtn {
  background-color:#72C850;
<<<<<<< HEAD:client/src/Pages/Register/register.css
  border-radius: 50%;
  padding: 20px;
=======
  border-radius: 48%;
  padding: 12px;
>>>>>>> 9e5fa8d7fbf4125a88f5221cbc75ea8770e21157:client/src/components/RegisterForm/register.css
  color: white; 
  border: none;
}
.submitBtn:hover{
  box-shadow: 0px 2px 4px gray;

}

.fa-check{
  font-size: 20px;
  text-shadow:  0px 1px 2px rgba(0, 0, 0, 0.3);
  
}
 .fa-pen{
   color: silver
 }
.inputError{
  color: orangered;
  font-size: 10px;
  
}