/* ------------Same footer to all pages------------*/
.appFooter {
  font-family: "Montserrat", sans-serif;  
 
  width: 100%;
  color: orange;
  text-align: center;
  font-weight: 400px;
  background-color: #464646;
  font-size: 17px;
  margin-top: 0;

  padding: 10px;
  letter-spacing: 1px;
}
