/* in this page we are designing the user cards that will show up in the main page  */


.userCardContainer {
  margin-right: auto;
  margin-left: auto;

}

.userCard{
    background-color: silver;  
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-top: 10px;
    cursor:grab;

}


.profile-info {
  background-color: #464646;
  padding: 10px;
  border-radius: 10px;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}


/*----- card flip ------  */

.flip-box-inner {
  position: relative;
  text-align: center;
  transition: transform 1.9s;
  transform-style: preserve-3d;

}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  cursor:grab;
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 4px;
  cursor:grab;
}
.flip-box-front {
  padding-top: 20px;
  cursor:grab;

}

.flip-box-back {
  transform: rotateY(180deg);
  cursor:grab;

}

/*----- card flip ------  */



.userImage{
  border-radius: 50%; 
  width: 120px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.5);
  align-content: center !important;
  background-color: white;
  
  
}


.user-name{
  font-family: 'Muli', sans-serif;
    color: white;
    font-size: 25px;
}

.profile-info{
    font-size: 12px;
    font-family: 'Montserrat';
    color:#464646;    
}

.bio{
font-style: italic;
letter-spacing: 1px;
line-height: 1px;
border-radius: 10px;
font-size: 14px;
color:white;
}

.site , .email , .profession {
  line-height: 0;
  font-family: 'Montserrat';
  font-size: 12px;
  margin-top: 5px;
  letter-spacing: 0vh;
  
}



.site, .email {
  text-align: center;
}

.motives{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    background-color: #DDDDDD;
    color: #464646;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 12px;
    width: 150px;
    letter-spacing: 0.5px;
}

.smallMotives{
  font-size: 13px;
  color: white;
}

