.formContainer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    margin-top: 150;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    width: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 40px;
}

.formInput {
    background-color: #dddddd;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    font-family: 'Montserrat';
    height: 45px;
    margin-top: 8px;
    width: 300px;
    padding: 0px 8px;
    font-size: 16px;
    outline: none;
    border-radius: 4px;
    border: none;
    border-style: none;
}

.formButton {
    background-color: #006bfc;
    color: white;
    width: 85px;
    height: 35px;
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px #666
}

.formButton:hover {background-color: #0260e4}

.formButton:active {
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

.other {
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #cc00ff;
    color: black;
    width:300px;
    align-content: center;
    border-radius: 2px;
}

.anchor {
    color: #006bfc;
    cursor: pointer;
    font-weight: bold;
}

.bottom {
    font-weight: 600;
    padding: 0px 25px;
    text-align: center;
    color: black
}