body {
    background-image: url("./web.png");
      /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
   background-position-x: 50vh;

  background-repeat: no-repeat;
  background-size:100vh;
}
